*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 130%;
}
p{
    margin: 10px 0px;
    width: 100%;
}
i{
    color: #06F;
    padding-left: 10px;
    font-size: 25px;
}
a{
    font-size: 14pt;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
header{
    /* background-color: orange; */
    min-height: 90px;
    position: relative;
    top:10px;
}
header img{
    float: left;
    width: 20%;
    padding-left: 100px;
}
.box{
    float: right;
    line-height: 30px;
}
.container-1{
    padding-top: 10px;
    line-height: 50px;
}
nav{
    
    height: 40px;
    line-height: 2px;
    padding: 0px 20px;
    position: relative;
    
}
nav .nav-list{
    position: absolute;
    top: 20px;
   
}
nav a{
    font-size: 14pt;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    /* padding-top: 5px; */
}
.pdr{
    padding-right: 10px;
   
}


nav i{
    color: #333;
    font-size: 12pt;
    line-height: 10px;
    padding-left: 0px;
}
nav i:hover{
    color: #33F;
   
}
a:hover{
    
    color: #33F;
    
    
}
.boxcenter{
    width: 1200px;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.row2{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    
}
.boxtrai{
    float: left;
    width: calc(70% - 25px);
    
    
}
.mr30{
    margin-right: 25px;
}
.mt30{
    margin-top: 20px;
}
.boxphai{
    float: left;
    width: 30%;
}

.demo{
    background-color: aqua;
    min-height: 300px;
}
.ok {
    float: left;
    width: calc(calc(100% - 100px)/5);
}
.boximg{
    background-image: url(../img/title-buildtop.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    position: relative;
}
.boxtitle{
    position: absolute;
    bottom: 20px;
    left: 50px;
    background-image: linear-gradient(to right, #6699FF , #00CCFF);
    padding: 5px 10px;
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.9;
    
}
.boximg img{
    width: calc(100% - 30px);
    float: right;
}

a.linktop{
    font-size: 25pt;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
a.linktop:hover{
    font-size: 25pt;
    color: #06F;
    font-family: 'Times New Roman', Times, serif;
}
.boximg2{
    position: relative;
}
.boxtitle2{
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-image: linear-gradient(to right, #6699FF , #00CCFF);
    padding: 5px 10px;
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.9;
    
}
.boximg2 img{
    width: 100%;
}
a.linktop2{
    font-size: 20pt;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
a.linktop2:hover{
    font-size: 20pt;
    color: #06F;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    position:absolute;
    left:0;
    bottom: -70px;
    width: 60%;
    height: 10px;
    margin: 0;
   background-color: #CCC ;
   border: none;
   padding: 0 ;
}
/* boder bottom */
.brb{
    border-bottom: 1px #CCC solid;
}
.box2 img {
    float: right;
    width: 30%;
    margin-left: 10px ;
    margin-bottom: 10px;
}

a.linkdm{
    font-size: 13pt;
    color: #168fd6;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
.oklaa:hover{
    size: 100px;
}
a.linkdm:hover{
    color: #06F;
}
.ok img {
    
    width: 100%;
}
.col-1{
    float: left;
    width: 100%;
    padding: 2%;
    
}
.col-2{
    float: left;
    width: 50%;
    padding: 2%;
}
.bdl{
    border-left:  1px #CCC solid;
   
    border-width: 10px;
}
.bdt{
    border-top: 10px solid #CCC;
    padding:  20px;
}
.boxtin img{
    width: 40%;
    margin-right: 2%;
    float: left;
}
.boxtin a{
    font-size: 15pt;
    width: 100%;
   
}
.boxtin2 img{
    width: 100%;
}
/* footer  */
.footer_top {
   
    padding: 10px 10px;
    margin-top: 20px;
    font-size: .75rem;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
    
    line-height: 30px;
    font-size: .75rem;
    clear: both;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea ;
}
.container::before, .container::after {
    display: table;
    content: "";
    clear: both;
}
.copy-right .logo {
    float: left;
    margin: 20px 30px 0 0;
    width: 194px;
}
.copy-right .logo {
    float: left;
    margin: 20px 30px 0 0;
    width: 194px;
}
.copy-right .address {
    margin: 28px 0;
    float: left;
    font-size: .8125rem;
    line-height: 1.35;
    color: #666;
}
.copy-right .ns_app {
    float: right;
    margin-top: 20px;
}
p {
    margin: 10px 0px;
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}
.img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    vertical-align: middle;
}
element.style {
    float: left;
    font: 700 13px arial;
    color: #666;
    margin: 6px 0 0 10px;
}
.left {
    float: left;
}
.footer_top .left a {
    position: relative;
    padding-right: 30px;
    
}
.footer_top a {
    color: #666;
    
}
.copy-right .ns_app .col_1 {
    float: left;
    margin-top: 6px;
}
.copy-right .ns_app .col_1 span {
    color: #666;
    font: 400 13px arial;
    display: block;
    margin-bottom: 12px;
}
.copy-right .ns_app .col_1 img {
    float: left;
}
.copy-right .ns_app .col_2 {
    float: right;
    margin-left: 20px;
}
.copy-right .ns_app {
    float: right;
    margin-top: 20px;
}
.anone{
    font-weight: none;
}
.footer_top .left a:before {
    content: "";
    background: #969696;
    position: absolute;
    height: 13px;
    width: 1px;
    right: 15px;
}
.footer_top a .icon-ns {
    color: #999;
    width: 12px;
    height: 12px;
    margin: -3px 3px 0 0;
}

.not-grad {
    fill: currentColor!important;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}
.footer_top .option {
    float: right;
}
.copy-right {
    font-family: arial;
}
/* .container {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    clear: both;
} */
/* footer  */